In [1]:
import pandas as pd
import numpy as np

In [2]:
corpus = ['data science is one of the most important fields of science',
          'this is one of the best data science courses',
          'data scientists analyze data' ]

In [3]:
words_set = set()
for doc in corpus:
    words = doc.split(" ")
    words_set = words_set.union(set(words))

print('Number of words in the corpus:',len(words_set))
print('The words in the corpus: \n', words_set)

Number of words in the corpus: 14
The words in the corpus:
 {'data', 'one', 'is', 'most', 'of', 'courses', 'fields', 'analyze', 'best', 'science', 'important', 'scientists', 'this', 'the'}

In [5]:
n_docs = len(corpus)
n_words_set = len(words_set)

df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=list(words_set))
for i in range(n_docs):
    words = corpus[i].split(" ")
    for w in words:
        df_tf[w][i] = df_tf[w][i] + (1 / len(words))

df_tf

C:\Users\learn\AppData\Local\Temp\ipykernel_14388\1862661384.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_tf[w][i] = df_tf[w][i] + (1 / len(words))

,data,one,is,most,of,courses,fields,analyze,best,science,important,scientists,this,the
0,0.090909,0.090909,0.090909,0.090909,0.181818,0.000000,0.090909,0.00,0.000000,0.181818,0.090909,0.00,0.000000,0.090909
1,0.111111,0.111111,0.111111,0.000000,0.111111,0.111111,0.000000,0.00,0.111111,0.111111,0.000000,0.00,0.111111,0.111111
2,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.000000,0.000000,0.000000,0.25,0.000000,0.000000

In [7]:
print("IDF of : ")

idf = {}

for w in words_set:
    k = 0
    for i in range(n_docs):
        if w in corpus[i].split():
            k += 1

    idf[w] = np.log10(n_docs / k)

    print(f"{w:>15}: {idf[w]:>10}")

IDF of :
           data:        0.0
            one: 0.17609125905568124
             is: 0.17609125905568124
           most: 0.47712125471966244
             of: 0.17609125905568124
        courses: 0.47712125471966244
         fields: 0.47712125471966244
        analyze: 0.47712125471966244
           best: 0.47712125471966244
        science: 0.17609125905568124
      important: 0.47712125471966244
     scientists: 0.47712125471966244
           this: 0.47712125471966244
            the: 0.17609125905568124

In [8]:
df_tf_idf = df_tf.copy()

for w in words_set:
    for i in range(n_docs):
        df_tf_idf[w][i] = df_tf_idf[w][i] * idf[w]

df_tf_idf

C:\Users\learn\AppData\Local\Temp\ipykernel_14388\3118689758.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_tf_idf[w][i] = df_tf_idf[w][i] * idf[w]

,data,one,is,most,of,courses,fields,analyze,best,science,important,scientists,this,the
0,0.0,0.016008,0.016008,0.043375,0.032017,0.000000,0.043375,0.00000,0.000000,0.032017,0.043375,0.00000,0.000000,0.016008
1,0.0,0.019566,0.019566,0.000000,0.019566,0.053013,0.000000,0.00000,0.053013,0.019566,0.000000,0.00000,0.053013,0.019566
2,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.11928,0.000000,0.000000,0.000000,0.11928,0.000000,0.000000

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
tf_idf_model = TfidfVectorizer()
tf_idf_vector = tf_idf_model.fit_transform(corpus)
print(type(tf_idf_vector), tf_idf_vector.shape)

<class 'scipy.sparse._csr.csr_matrix'> (3, 14)

In [11]:
tf_idf_array = tf_idf_vector.toarray()
tf_idf_array

array([[0.        , 0.        , 0.        , 0.18952581, 0.32089509,
        0.32089509, 0.24404899, 0.32089509, 0.48809797, 0.24404899,
        0.48809797, 0.        , 0.24404899, 0.        ],
       [0.        , 0.40029393, 0.40029393, 0.23642005, 0.        ,
        0.        , 0.30443385, 0.        , 0.30443385, 0.30443385,
        0.30443385, 0.        , 0.30443385, 0.40029393],
       [0.54270061, 0.        , 0.        , 0.64105545, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.54270061, 0.        , 0.        ]])

In [14]:
words_set = tf_idf_model.get_feature_names_out()
words_set

array(['analyze', 'best', 'courses', 'data', 'fields', 'important', 'is',
       'most', 'of', 'one', 'science', 'scientists', 'the', 'this'],
      dtype=object)

In [15]:
df_tf_idf = pd.DataFrame(tf_idf_array, columns=words_set)
df_tf_idf

,analyze,best,courses,data,fields,important,is,most,of,one,science,scientists,the,this
0,0.000000,0.000000,0.000000,0.189526,0.320895,0.320895,0.244049,0.320895,0.488098,0.244049,0.488098,0.000000,0.244049,0.000000
1,0.000000,0.400294,0.400294,0.236420,0.000000,0.000000,0.304434,0.000000,0.304434,0.304434,0.304434,0.000000,0.304434,0.400294
2,0.542701,0.000000,0.000000,0.641055,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.542701,0.000000,0.000000